version: "3.8"

services:
  blocks:
    build:
      context: .
      dockerfile: Dockerfile.blocks
    ports:
      - "8080:8080"

  mempool:
    build:
      context: ./mempool
      dockerfile: Dockerfile.mempool
    depends_on:
      - blocks
    environment:
      - BLOCKS_BASE_URL=http://blocks:8080
      - BATCH_TICK_MS=250
      - SERVER_PORT=9090
    ports:
      - "9090:9090"
